@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@500&display=swap');

:root{
  --primary-color: #dbf9f0;
  --secondary-color: #750d37;
}

*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body{
  font-family: 'Quicksand', sans-serif;
  color: var(--secondary-color);
}

/* utility classes */
.flex{
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.container{
  max-width: 50%;
  margin: 1rem auto;
}
::placeholder{
  color: var(--secondary-color);
}
/* nav.js */
.nav{
  max-width: 100%;
  background-color: var(--primary-color);
  padding: 2rem;
}

.nav header{
  font-size: 40px;
  font-weight: bolder;
}
.nav .flex{
  flex-direction: row;
  justify-content: center;
}

/* app.js */

/* Inputs.js */
.input .flex{
  flex-direction: column;
  flex-wrap: wrap;
}

.input input{
  padding: 1rem;
  margin: 2rem auto;
  background-color: var(--primary-color);
  border: none;
  border-radius: 0.2rem;
}

.input input:focus{
  outline: none;
  border-bottom: 1px solid var(--secondary-color);
}

.btn .flex{
  flex-direction: row;
}

.btn button{
  background-color: var(--primary-color);
  border: none;
  padding: 1.2rem;
  color: var(--secondary-color);
  margin: 1rem 1rem;
  border-radius: 0.2rem;
  font-weight: bolder;
}

.btn button:focus{
  outline: var(--secondary-color);
}

.btn button:active{
  background-color: var(--secondary-color);
  color: var(--primary-color);
}
/* Warn.js */

.warn-message .flex{
  margin: 1rem auto;
  flex-direction: row;
  justify-content: center;
}

/* grid.js */
.grid{
  display: grid;
  grid-template-columns: 2fr 2fr 2fr;
}

.key, .dash, .quantity{
  padding: 0.2rem;
  margin: 0.5rem auto;
  display: block;
  background-color: var(--primary-color);
  border: 1px solid var(--secondary-color);
}


/* Media quries */
@media screen and (max-width:600px){
  .nav header{
    font-size: 30px;
  }
}

@media screen and (max-width:400px){
  .nav header{
    font-size: 20px;
  }
}